#bg {
  background: url("./bg.jpg") center / cover no-repeat;

  filter: blur(12px);
  z-index: -10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a,
button,
input,
select,
textarea {
  outline: 0;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  padding: 8px;
  margin: 0;
  background: transparent;

  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  transition: 0.25s;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

label > span:first-child {
  display: block;
  padding-left: 8px;
}

label > input:not([type=checkbox]):not([type=radio]) {
  display: block;
}

.text-input-wrapper {
  display: block;
}

.text-input-wrapper > input {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.text-input-wrapper::after {
  display: inline-block;
  vertical-align: middle;
  width: 20px;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f303";
}

input[type=radio], input[type=checkbox] {
  border-color: currentColor;
}

input[type=radio]:checked, input[type=checkbox]:checked {
  background: currentColor;
}

input[type=radio] {
  border-radius: 100%;
  color: black;
}

input[type=checkbox] {
  color: black;
}

button:hover,
input:hover,
select:hover,
textarea:hover {
  background: rgba(255, 255, 255, 0.18);
}

#borders-svg {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
